.img-fluid { 
  
  /* Full height */
  height: 500px; 
  width: 500px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {

  padding-left: 0px;
  padding-right: 0px;
  /* Container holding the image and the text */

  position: relative;
  text-align: center;
  color: black;
 

}
.containerHome {

  padding-left: 0px;
  padding-right: 0px;
  /* Container holding the image and the text */

  position: relative;
  text-align: center;
  color: white;
  background-color: teal;
 

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  font-family: fantasy;
  transform: translate(-50%, -50%)
}

.button{
  position:center;
}

/* #my_img{
  background-color:teal; */

/* Full height */
height: 100vh; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: repeat;
background-size: cover contain;
}

h5 {
  color:black;
}
.jumbotron{
  background-color: teal;
  color:black;
}

.box1 {
 
  width: 100vh; /* You can set the dimensions to whatever you want */
  height: 100vh;
  background-size: auto;
}

.fill { 
max-height: 100vh;
}

#contacts {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#imageUpload{
  /* border: solid black 5px; */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: solid 2px black;
  background-color: teal;
}

#step{
  color:black;
  font-family: "Lucida Console", Monaco, monospace;
}

#wmhd{
  color: black;
  background-color: rgb(92, 150, 211);
}

#imageadd{
  color:black;
}

#footer {
  position: sticky;
  left: 0;
  bottom: 0;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
  background-color:black;
  text-align: center;
  color: white;
  font-size: 10px;
}
#spotify{
  background-image:"{{url('/images/spotify.png')}}";
}

#welcome{
  color:black;
  font-family: "Lucida Console", Monaco, monospace;
}

#welcome2{
  color:black;
  font-family: "Lucida Console", Monaco, monospace;
  border: solid 2px black;
}

#local{
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
}
#map_canvas { height: 100% }


html {
  height: 100%
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px
}
#map{
  color: black;
}

#diary{
  color: black;
}

#fav{
  border: solid 1px black;
}

#personallinks{
  border: solid 1px black;
}

#hp1{
  max-height: 200px;
}

.col-container {
  display: table;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.col {
  display: table-cell;
  padding: 16px;
}

#hp2{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}