.img-fluid { 
  
  /* Full height */
  height: 100vh; 
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {

  padding-left: 0px;
  padding-right: 0px;
  /* Container holding the image and the text */

  position: relative;
  text-align: center;
  color: white;
 

}
.containerHome {

  padding-left: 0px;
  padding-right: 0px;
  /* Container holding the image and the text */

  position: relative;
  text-align: center;
  color: white;
  background-color: teal;
 

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  font-family: fantasy;
  transform: translate(-50%, -50%)
}

.button{
  position:center;
}

#my_img{
  background-image: url("/images/beach.jpg" );

/* Full height */
height: 100vh; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: repeat;
background-size: cover contain;
}

h5 {
  color:black;
}
.jumbotron{
  color:black;
}

.box1 {
 
  width: 100vh; /* You can set the dimensions to whatever you want */
  height: 100vh;
  background-size: auto;
}

.fill { 
max-height: 100vh;
}

#contacts {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#imageUpload{
  border: solid white 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}





